.container {
  max-width: 360px;
  box-sizing: border-box;
  background-color: hsl(204, 43%, 93%);
  padding: 2em 1em;
  margin: 0 auto;
}
.content {
  font-size: 15px;
  width: 90%;
  color: hsl(204, 43%, 93%);
  box-sizing: border-box;
  margin: 0 auto;
  box-shadow: 0 0 10px -4px grey;
  font-family: "Karla", sans-serif;
}
.box {
  box-sizing: border-box;
  padding: 1.5em;
}
.box.sub span::before {
  content: "$29  ";
  font-size: 1.5rem;
  font-weight: 700;
}
.box h1 {
  font-size: 1.3rem;
}
.box h2 {
  font-size: 1rem;
}
.box.join {
  background-color: white;
  color: hsl(218, 22%, 67%);
}
.box.join h1 {
  color: hsl(179, 62%, 43%);
}
.box.join h2 {
  color: hsl(71, 73%, 54%);
}
.box p {
  font-size: 0.8rem;
  line-height: 20px;
  font-weight: 400;
}

.box.sub {
  background-color: hsl(179, 62%, 43%);
}
.box.sub p {
  font-size: 0.9rem;
}
.box.sub span {
  font-size: 0.9rem;
  font-weight: 400;
}
.box.sub h1 {
  font-size: 1.1rem;
}
.box.sub .button {
  margin-top: 2em;
  background-color: hsl(71, 73%, 54%);
  text-align: center;
  padding: 0.65em;
  border-radius: 5px;
  box-shadow: 0 4px 8px -4px grey;
}

.box.why {
  background-color: hsl(179, 62%, 43%, 0.8);
}
.box.why h1 {
  font-size: 1.1rem;
}
@media (min-width: 960px) {
  .container {
    max-width: 1200px;
  }
  .content {
    width: 60%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  .box {
    padding: 2em 3em;
  }
  .box.join {
    grid-column: 1/3;
  }
  .box.join {
    padding-right: 4rem;
  }
  .box.join h1 {
    font-size: 1.6rem;
  }
  .box.join h2 {
    font-size: 1.3rem;
  }
  .box.join {
    font-size: 1rem;
  }
}
